body{
    margin: 0;
    padding-bottom: 15px;
    font-family: 'Gideon Roman', cursive;
}

/*----------------HEADER-----------------*/

.background{
    background-image: url(images/fond.png);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-bottom: 5%;
    height: 10%;
}
nav{
    background-color: black;
    width: 95%;
    height: 3%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
a{
    text-decoration: none;
    color: white;
    height: 100px;
    width: 100%;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links:focus{
    background-color: rgba(128, 128, 128, 0.459);
}
.links:hover{
    background-color: rgba(128, 128, 128, 0.459);
}
.links:active{
    background-color: rgba(128, 128, 128, 0.459);
}
#menu{
    display: none;
}
.menu-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo{
    position: relative; 
    width: 100%;
    top: 14px;
}
h1{
    margin-top: 5%;
    margin-bottom: 5%;
}
@media (max-width: 750px){
    .media{
        display: none;
    }
    #menu{
        display: block;
    }
    nav{
        justify-content: center;
    }
    ul{
        list-style-type: none;
    }
    .sous{
        display: none;
    }
    #menu:hover .sous{
        display: block;
    }
    .sous a{
        display: inline;
    }
    .sous li:hover{
        background-color: grey;
    }
    #logo{
        width: 88px;
        top: 0;
    }
}


/*----------------CORPS-----------------*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.sous-div{
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}
.mini_container{
    color: white;
    background-color: black;
    width: 350px;
    height: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
p{
    text-align: justify;
    width: 60%;
}
.para-histoire{
    font-size: 22px;
}
h2{
    font-size: 26px;
}
.para-index{
    display: none;
    margin: 0 12px;
    font-size: 22px;

}
.mini_container:hover .para-index{
    display: block;
}
.mini_container:hover .sur-para{
    display: none;
}
